extends layout

block content
  .container-fluid
    .row
      .col-sm-12
      h2 Zoom Daily Report
      .col-lg-3.col-sm-6
        .card
          .card-content
            .row
              .col-xs-5
                .icon-big.icon-warning.text-center
                  i.ti-user
              .col-xs-7
                .numbers
                  p Participants
                  | #{dailyZoomReport.participants}
          .card-footer
            hr
            .stats
              i.ti-reload
              |  Updated now
      .col-lg-3.col-sm-6
        .card
          .card-content
            .row
              .col-xs-5
                .icon-big.icon-success.text-center
                  i.ti-time
              .col-xs-7
                .numbers
                  p Meeting Minutes
                  | #{dailyZoomReport.meeting_minutes}
          .card-footer
            hr
            .stats
              i.ti-calendar
              |  Last day
      .col-lg-3.col-sm-6
        .card
          .card-content
            .row
              .col-xs-5
                .icon-big.icon-danger.text-center
                  i.ti-calendar
              .col-xs-7
                .numbers
                  p Meetings
                  | #{dailyZoomReport.meetings}
          .card-footer
            hr
            .stats
              i.ti-timer
              |  In the last hour
      .col-lg-3.col-sm-6
        .card
          .card-content
            .row
              .col-xs-5
                .icon-big.icon-info.text-center
                  i.ti-user
              .col-xs-7
                .numbers
                  p New Users
                  | + #{dailyZoomReport.new_users}
          .card-footer
            hr
            .stats
              i.ti-reload
              |  Updated now
    .row
      h2 Wowza Server Status
      .card
        .card-content.table-responsive.table-full-width
          table.table.table-hover
            thead
              tr
                th Server
                th Connections
                th Uptime
                th In
                th Out
                th Rate In
                th Rate Out
            tbody
              //- each server in wowzaServerStatus
              //-   tr
              //-     th #{server.serverName}
              //-     th #{server.totalConnections}
              //-     th #{server.uptime}
              //-     th #{server.bytesIn}
              //-     th #{server.bytesOut}
              //-     th #{server.bytesInRate}
              //-     th #{server.bytesOutRate}
                