extends layout

block content
  .container-fluid
    .row
      .col-lg-4.col-md-5
        .card.card-user
          .image
            img(src=user.picture, alt='...')
          .card-content
            .author
              img.avatar.border-white(src=user.picture, alt='...')
              h4.card-title
                | #{user.name}
                br
                a(href='#')
                  small #{user.email}
            p.description.text-center
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              br
              | Repellat, deserunt! Ullam, ab molestiae odio expedita nemo perferendis ipsa distinctio facilis impedit soluta?
              br
              | Odio expedita nemo perferendis ipsa distinctio 
          hr
          .text-center
            .row
              .col-md-3.col-md-offset-1
                h5
                  | 12
                  br
                  small Files
              .col-md-4
                h5
                  | 2GB
                  br
                  small Used
              .col-md-3
                h5
                  | $24.6
                  br
                  small Spent
      .col-lg-8.col-md-7
        .card
          .card-header
            h4.card-title Edit Profile
          .card-content
            form
              .row
                .col-md-5
                  .form-group
                    label Company
                    input.form-control.border-input(type='text', disabled='', placeholder='Company', value='DM Inc.')
                .col-md-3
                  .form-group
                    label Username
                    input.form-control.border-input(type='text', placeholder='Username', value='')
                .col-md-4
                  .form-group
                    label(for='exampleInputEmail1') Email address
                    input.form-control.border-input(type='email', placeholder='Email' value=user.email)
              .row
                .col-md-6
                  .form-group
                    label First Name
                    - firstName = user.name.split(" ")[0];
                    input.form-control.border-input(type='text', placeholder='First Name', value=firstName)
                .col-md-6
                  .form-group
                    label Last Name
                    - lastName = user.name.split(" ")[1];
                    input.form-control.border-input(type='text', placeholder='Last Name', value=lastName)
              .row
                .col-md-12
                  .form-group
                    label About Me
                    textarea.form-control.border-input(rows='5', placeholder='Here can be your description', value='Mike')
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus impedit obcaecati officiis doloribus possimus, 
                      | reiciendis dicta, debitis delectus, error distinctio odio. 
                      | Dolores commodi vel consequuntur unde voluptatum fuga qui!
              .text-center
                button.btn.btn-info.btn-fill.btn-wd(type='submit') Update Profile
              .clearfix
